<div class="query-panel">
  <div class="header">
    <span>查询区域</span>
  </div>
  <div class="content">
    <mat-form-field class="field" appearance="outline" *ngFor="let item of fields">
      <mat-label>{{item.label}}</mat-label>
      <input matInput [name]="item.name"/>
    </mat-form-field>
  </div>
  <div class="footer">
    <button mat-raised-button color="primary" (click)="doQuery()">查询</button>
    <button mat-raised-button color="accent" (click)="doReset()">重置</button>
  </div>
</div>
