.j-reuse-tabs-group ::ng-deep {

  .mat-tab-label {
    padding: 0;

    .mat-tab-label-content{
      height: 100%;
      width: 100%;
    }

    .j-tab-label{
      height: 100%;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }

    button{
      margin-left: 4px;
    }
  }

  .mat-tab-body-wrapper{
    display: none;
  }
}
