<div class="theme-options-panel" jPerfectScrollbar>

  <div class="header">

    <span class="title">主题设置</span>

    <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <form [formGroup]="form">

    <!-- 主题颜色 -->
    <div class="group">

      <h2>主题颜色</h2>

      <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="colorTheme">
        <mat-radio-button class="mb-12" value="theme-default">浅蓝色</mat-radio-button>
        <mat-radio-button class="mb-12" value="theme-yellow-light">浅黄色</mat-radio-button>
        <mat-radio-button class="mb-12" value="theme-blue-gray-dark">深蓝灰色</mat-radio-button>
        <mat-radio-button class="mb-12" value="theme-pink-dark">深粉色</mat-radio-button>
      </mat-radio-group>

    </div>

    <!-- 页面布局模式 -->
    <div class="group" formGroupName="layout">

      <h2>页面布局</h2>
      <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="style">

        <mat-radio-button class="mb-12" value="vertical-layout-default">
          垂直布局导航分离
        </mat-radio-button>

        <mat-radio-button class="mb-12" value="vertical-layout-nav-unsplit">
          垂直布局导航不分离
        </mat-radio-button>

        <mat-radio-button class="mb-12" value="vertical-layout-gap">
          垂直布局各布局组件有间距
        </mat-radio-button>

        <mat-radio-button class="mb-12" value="horizontal-layout-default">
          水平布局
        </mat-radio-button>

      </mat-radio-group>

      <!-- 基于页面布局模式的各组件布局 -->
      <ng-container [ngSwitch]="jConfig.layout.style">

        <!-- 垂直布局导航分离 -->
        <ng-container *ngSwitchCase="'vertical-layout-default'">

          <div class="group mt-32">

            <h2>页面宽度</h2>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
              <mat-radio-button class="mb-12" value="fullwidth">全屏</mat-radio-button>
              <mat-radio-button class="mb-12" value="boxed">固定宽度</mat-radio-button>
            </mat-radio-group>

          </div>

          <!-- 导航 -->
          <div class="group" formGroupName="navbar">

            <h2>导航</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>
            <mat-slide-toggle class="mt-24" formControlName="folded">折叠</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-16" value="left">左侧</mat-radio-button>
              <mat-radio-button class="mb-16" value="right">右侧</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-8">导航：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
              <mat-radio-button class="mb-16" value="vertical-default">显示用户信息</mat-radio-button>
              <mat-radio-button class="mb-16" value="vertical-pure">不显示用户信息</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-16 mb-8">主背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="primaryBackground"></j-material-color-picker>

            <h3 class="mt-16 mb-8">次背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="secondaryBackground"></j-material-color-picker>

          </div>

          <!-- 顶部工具栏 -->
          <div class="group" formGroupName="toolbar">

            <h2>顶部工具栏</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above">上方</mat-radio-button>
              <mat-radio-button class="mb-12" value="below-static">下方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="below-fixed">下方固定</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>

          <!-- 页面底部 -->
          <div class="group" formGroupName="footer">

            <h2>页面底部</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above">上方</mat-radio-button>
              <mat-radio-button class="mb-12" value="below-static">下方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="below-fixed">下方固定</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>
          </div>
        </ng-container>

        <!-- 垂直布局导航不分离 -->
        <ng-container *ngSwitchCase="'vertical-layout-nav-unsplit'">

          <div class="group mt-32">

            <h2>页面宽度</h2>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
              <mat-radio-button class="mb-12" value="fullwidth">全屏</mat-radio-button>
              <mat-radio-button class="mb-12" value="boxed">固定宽度</mat-radio-button>
            </mat-radio-group>

          </div>

          <!-- 导航 -->
          <div class="group" formGroupName="navbar">

            <h2>导航</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>
            <mat-slide-toggle class="mt-24" formControlName="folded">折叠</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-16" value="left">左侧</mat-radio-button>
              <mat-radio-button class="mb-16" value="right">右侧</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-8">导航：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
              <mat-radio-button class="mb-16" value="vertical-default">显示用户信息</mat-radio-button>
              <mat-radio-button class="mb-16" value="vertical-pure">不显示用户信息</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-16 mb-8">主背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="primaryBackground"></j-material-color-picker>

            <h3 class="mt-16 mb-8">次背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="secondaryBackground"></j-material-color-picker>

          </div>

          <!-- 顶部工具栏 -->
          <div class="group" formGroupName="toolbar">

            <h2>顶部工具栏</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above-static">上方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="above-fixed">上方固定</mat-radio-button>
              <mat-radio-button class="mb-12" value="below">下方</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>

          <!-- 页面底部 -->
          <div class="group" formGroupName="footer">

            <h2>页面底部</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above-static">上方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="above-fixed">上方固定</mat-radio-button>
              <mat-radio-button class="mb-12" value="below">下方</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>
        </ng-container>

        <!-- 垂直布局各布局组件有间距 -->
        <ng-container *ngSwitchCase="'vertical-layout-gap'">

          <!-- 页面宽度-->
          <div class="group mt-32">

            <h2>页面宽度</h2>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
              <mat-radio-button class="mb-12" value="fullwidth">全屏</mat-radio-button>
              <mat-radio-button class="mb-12" value="boxed">固定宽度</mat-radio-button>
            </mat-radio-group>

          </div>

          <!-- 导航 -->
          <div class="group" formGroupName="navbar">

            <h2>导航</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>
            <mat-slide-toggle class="mt-24" formControlName="folded">折叠</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-16" value="left">左侧</mat-radio-button>
              <mat-radio-button class="mb-16" value="right">右侧</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-8">导航：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
              <mat-radio-button class="mb-16" value="vertical-default">显示用户信息</mat-radio-button>
              <mat-radio-button class="mb-16" value="vertical-pure">不显示用户信息</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-16 mb-8">主背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="primaryBackground"></j-material-color-picker>

            <h3 class="mt-16 mb-8">次背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="secondaryBackground"></j-material-color-picker>

          </div>

          <!-- 顶部工具栏 -->
          <div class="group" formGroupName="toolbar">

            <h2>顶部工具栏</h2>

            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above-static">上方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="above-fixed">上方固定</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>

          <!-- 页面底部 -->
          <div class="group" formGroupName="footer">

            <h2>页面底部</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above-static">上方静态</mat-radio-button>
              <mat-radio-button class="mb-12" value="above-fixed">上方固定</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>
        </ng-container>

        <!-- 水平布局 -->
        <ng-container *ngSwitchCase="'horizontal-layout-default'">

          <!-- 页面宽度 -->
          <div class="group mt-32">

            <h2>页面宽度</h2>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
              <mat-radio-button class="mb-12" value="fullwidth">全屏</mat-radio-button>
              <mat-radio-button class="mb-12" value="boxed">固定宽度</mat-radio-button>
            </mat-radio-group>

          </div>

          <!-- 导航 -->
          <div class="group" formGroupName="navbar">

            <h2>导航</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-16" value="top">顶部</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-8">垂直布局导航：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
              <mat-radio-button class="mb-16" value="vertical-default">显示用户信息</mat-radio-button>
              <mat-radio-button class="mb-16" value="vertical-pure">不显示用户信息</mat-radio-button>
            </mat-radio-group>

            <h3 class="mt-16 mb-8">主背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="primaryBackground">
            </j-material-color-picker>

            <h3 class="mt-16 mb-8">次背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="secondaryBackground">
            </j-material-color-picker>

          </div>

          <!-- 顶部工具栏 -->
          <div class="group" formGroupName="toolbar">

            <h2>顶部工具栏</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above">上方</mat-radio-button>
              <mat-radio-button class="mb-12" value="below">下方</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>

          <!-- 页面底部 -->
          <div class="group" formGroupName="footer">

            <h2>页面底部</h2>
            <mat-slide-toggle formControlName="hidden">隐藏</mat-slide-toggle>

            <h3 class="mt-24">位置：</h3>
            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
              <mat-radio-button class="mb-12" value="above-fixed">上方固定</mat-radio-button>
              <mat-radio-button class="mb-12" value="above-static">上方静态</mat-radio-button>
            </mat-radio-group>

            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">使用用户自定义背景色</mat-checkbox>

            <h3 class="mt-24 mb-8">背景色：</h3>
            <j-material-color-picker class="mb-16"
                                     formControlName="background"></j-material-color-picker>

          </div>
        </ng-container>

      </ng-container>

    </div>

    <!-- 自定义滚动条 -->
    <div class="group">
      <h2>自定义滚动条</h2>
      <mat-slide-toggle class="mb-12" formControlName="customScrollbars">允许自定义滚动条</mat-slide-toggle>
    </div>
  </form>
</div>
