<div class="box" [@jAnimateChildStagger]="'100ms'">
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
  <div class="item" [@jNormalIn]="{value: '*', params: {y: '100%'}}"></div>
</div>

<mat-form-field>
  <input matInput type="text" placeholder="dashboard">
</mat-form-field>

